<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <footer class="footer_area clearfix">
        <div class="container">
            <div class="row">
                <!-- Single Widget Area -->
                <div class="col-12 col-md-6">
                    <div class="single_widget_area d-flex mb-30">
                        <!-- Logo -->
                        <div class="footer-logo mr-50">
                            <a href="#"><img src="img/made-img/logo11.png" width="74" height="16" alt=""></a>
                        </div>
                        <!-- Footer Menu -->
                        <div class="footer_menu">
                            <ul>
                                <li><a href="shop.html">남성의류</a></li>
                                <li><a href="blog.html">여성의류</a></li>
                                <li><a href="contact.html">회사소개</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Single Widget Area -->
                <div class="col-12 col-md-6">
                    <div class="single_widget_area mb-30">
                        <ul class="footer_widget_menu">
                            <li><a href="#">담당교수</a></li>
                            <li><a href="#">안귀정</a></li>
                            <li><a href="#">조장</a></li>
                            <li><a href="#">윤동건</a></li>
                            <li><a href="#">조원</a></li>
                            <li><a href="#">박승진</a></li>
                            <li><a href="#">조원</a></li>
                            <li><a href="#">최수빈</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row align-items-end">

<div class="row mt-5">
                <div class="col-md-12 text-center">
                    <p>
    Copyright &copy;2019 호서전문학교 컴퓨터공학과 3학년 A반
                    </p>
                </div>
            </div>

        </div>
        </div>
    </footer>
</body>
</html>